@font-face {
  font-family: 'Canela';
  src: url('/assets/fonts/canela/CanelaDeck-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/assets/fonts/canela/CanelaDeck-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Canela';
  src: url('/assets/fonts/canela/CanelaDeck-light.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/assets/fonts/geomanist/geomanist-light.eot');
  src: url("/assets/fonts/geomanist/geomanist-light.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/geomanist/geomanist-light.woff2") format("woff2"),
       url("/assets/fonts/geomanist/geomanist-light.woff") format("woff"),
       url("/assets/fonts/geomanist/geomanist-light.ttf") format("truetype"),
       url("/assets/fonts/geomanist/geomanist-light.svg#FanwoodText") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/assets/fonts/geomanist/geomanist-regular.eot');
  src: url("/assets/fonts/geomanist/geomanist-regular.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/geomanist/geomanist-regular.woff2") format("woff2"),
       url("/assets/fonts/geomanist/geomanist-regular.woff") format("woff"),
       url("/assets/fonts/geomanist/geomanist-regular.ttf") format("truetype"),
       url("/assets/fonts/geomanist/geomanist-regular.svg#FanwoodText") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/assets/fonts/geomanist/geomanist-medium.eot');
  src: url("/assets/fonts/geomanist/geomanist-medium.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/geomanist/geomanist-medium.woff2") format("woff2"),
       url("/assets/fonts/geomanist/geomanist-medium.woff") format("woff"),
       url("/assets/fonts/geomanist/geomanist-medium.ttf") format("truetype"),
       url("/assets/fonts/geomanist/geomanist-medium.svg#FanwoodText") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geomanist';
  src: url('/assets/fonts/geomanist/geomanist-bold.eot');
  src: url("/assets/fonts/geomanist/geomanist-bold.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/geomanist/geomanist-bold.woff2") format("woff2"),
       url("/assets/fonts/geomanist/geomanist-bold.woff") format("woff"),
       url("/assets/fonts/geomanist/geomanist-bold.ttf") format("truetype"),
       url("/assets/fonts/geomanist/geomanist-bold.svg#FanwoodText") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* ./index.css */
body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight);
}

