.heading-divider {
   width: 100%;

   &::before {
      // background: url(../../images/S-egos.svg) center no-repeat;
      background-size: contain;
      bottom: -2%;
      content: "";
      height: 1.75rem;
      left: 50%;
      opacity: .2;
      position: absolute;
      translate: -50% -35%;
      width: 1.75rem;
   }

   &::after {
      background: $blue-1;
      bottom: 10%;
      content: "";
      height: 1px;
      left: 0;
      opacity: 0.1;
      position: absolute;
      width: 100%;
   }
}
