form.form {
    @include flex(column, center, flex-start, nowrap, 1);
    width: 100%;
    height: fit-content;
    padding: var(--gap) var(--spacing) var(--spacing);
    background-color: var(--blue-1);
}

// .form__container {
//     --font-size: 1.2rem;
// }

:root {
    --bg-input: $blue-1;
    --padd: 1.07rem;
    --int: max(1.009rem, .9vw);
    --border-gradient: radial-gradient(circle at 100% 100%, var(--bg-input) 0, var(--bg-input) var(--int), transparent var(--int)) 0% 0%/var(--padd) var(--padd) no-repeat,
        radial-gradient(circle at 0 100%, var(--bg-input) 0, var(--bg-input) var(--int), transparent var(--int)) 100% 0%/var(--padd) var(--padd) no-repeat,
        radial-gradient(circle at 100% 0, var(--bg-input) 0, var(--bg-input) var(--int), transparent var(--int)) 0% 100%/var(--padd) var(--padd) no-repeat,
        radial-gradient(circle at 0 0, var(--bg-input) 0, var(--bg-input) var(--int), transparent var(--int)) 100% 100%/var(--padd) var(--padd) no-repeat,
        linear-gradient(var(--bg-input), var(--bg-input)) 50% 50%/calc(100% - 2px) calc(100% - 32px) no-repeat,
        linear-gradient(var(--bg-input), var(--bg-input)) 50% 50%/calc(100% - 32px) calc(100% - 2px) no-repeat,
        linear-gradient(transparent 50%, rgba(var(--gold-rgb), 0.5) 51%);
}

.input-container {
    width: 100%;
}

.form__group {
    @include flex();
    --text-color: var(--nude-8);
    padding: 1.25rem 0 0;
    position: relative;
    width: 100%;

    .input-container {

        &::before {
            background-color: transparent;
            content: "";
            width: 0%;
            position: absolute;
            height: 1px;
            bottom: 0;
            z-index: 10;
            transition: 0.4s;
        }
    }

    &:has(.input-error)::before {
        background-color: #f27c74;
        width: 100%;
    }


    ._40 {
        width: 40%;
    }

    ._60 {
        width: 60%;
    }

    ._100 {
        width: 100%;
    }
}

/* .input-highlight {
    background: linear-gradient(to right, var(--golden), var(--golden));
    bottom: 0;
    height: 0.0625rem;
    left: 0;
    position: absolute;
    transition: var(--transition);
    width: 0;
} */

.form__field {
    padding: var(--padd);
    color: var(--text-color);
    font-size: calc(var(--font-size) * .8);
    outline: 0;
    padding: 0.5rem var(--padd);
    transition: border-color 0.2s;
    width: 100%;
    border-bottom: .0313rem solid currentColor;
    border-radius: 0;

    &::before {
        background: linear-gradient(to right, var(--golden), var(--golden));
        bottom: 0;
        height: 0.0625rem;
        left: 0;
        position: absolute;
        transition: var(--transition);
        width: 0;
    }

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        cursor: text;
        font-size: calc(var(--font-size) * .7);
        top: calc(var(--padd) * 1.5);
    }
}

.form__label {
    color: var(--text-color);
    display: block;
    font-size: calc(var(--font-size) * .8);
    pointer-events: none;
    position: absolute;
    top: 0.575rem;
    transition: 0.4s;
    font-weight: inherit;
    opacity: .5;
}

.form__field {
    &:focus {
        font-weight: 300;

        &::before {
            background: linear-gradient(to right, var(--golden), var(--golden));
            bottom: 0;
            height: 0.0625rem;
            left: 0;
            position: absolute;
            transition: var(--transition);
            width: 100%;
        }
    }

    &:required,
    &:invalid {
        box-shadow: none;
    }
}

.form__group .input-container:has(.form__field:focus),
.form__group .input-container:has(.form__field:not(:placeholder-shown)),
.form__group:has(.form__select) {
    .form__label {
        color: var(--text-color);
        display: block;
        font-size: calc(var(--font-size) * .6);
        font-weight: 300;
        position: absolute;
        top: -0.65rem;
        transition: 0.4s;
        opacity: 1;
    }

    .input-highlight {
        width: 100%;
    }
}

.form__select {
    border-bottom: .0313rem solid var(--nude-8);
    border-radius: 0;

    .input-select-current {
        color: var(--nude-8);
        padding: var(--padd);
    }

    svg.icon-arrow path {
        stroke: var(--nude-8);
    }
}

.form__select:focus .icon-arrow path {
    stroke: var(--gold-2);
}

.input-select:focus,
.input:focus:enabled {
    border-color: var(--gold-2);
    outline: none;
}

.form__field:focus+.form__label+.input-highlight {
    width: 100%;
}

textarea+.form__label+.input-highlight {
    bottom: 4px;
}

.acceptance {
    padding: calc(var(--spacing) / 4) 0;
}

.error-icon {
    position: absolute;
    top: 10%;
    right: .875rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    pointer-events: auto;
    animation: scale 1s linear infinite;
    animation-play-state: running;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom: 1px solid green;
    -webkit-text-fill-color: var(--nude-8);
    -webkit-box-shadow: 0 0 0px 1000px $blue-1 inset;
    transition: background-color 5000s ease-in-out 0s;
    mix-blend-mode: lighten;
}

.input-select-list {
    padding: 0;
    margin: 0;
    position: absolute;
    top: -22.5rem;
    left: 0;
    width: 100%;
    max-width: 22.5rem;
    list-style: none;
    background-color: hsla(0, 0%, 100%, 0.20);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: 1px solid hsl(0, 0%, 50%);
    border-radius: .875rem;
    overflow: hidden;
    z-index: 1;
}

.input-select-item {
    padding: 0.5rem;
    background: #ffffff50;
    font-size: .875rem !important;
}

.input-select-item:not(:last-child) {
    border-bottom: 1px solid var(--gold);
}

.input-select-item:hover {
    background-color: var(--gold);
}

.input-select-item:focus,
.input-select-item.active {
    color: #fff;
    background-color: var(--blue-6)
}

.tooltip.tooltip-error {
    position: absolute;
    background-color: #ffffff2c;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 1;
}
