.logros {
   @include flex(row, center, center);
   position: absolute;
   bottom: 0;
   width: 50vw;
   right: 0;
   height: 6.25rem;
   font-size: clamp(0.65rem, 0.7vw, 0.9rem);
   color: var(--nude-8);

   @media (max-width: 767px) {
      display: none;
   }

   &>.mejorValorada {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.3rem;
   }

   &>.operaciones {
      display: flex;
      flex-direction: row;
      align-items: center;

      #pacientes {
         margin-left: 0.5rem;
      }
   }

   span {
      color: var(--nude-8) !important;

      &::before {
         content: none !important;
      }
   }

   // #google-icon {
   //    width: 2.5rem;
   //    height: 2.5rem;
   // }

   // .nav-icon {
   //    height: 2.25rem;
   // }

   // .g-icon,
   // .nav-icon {
   //    fill: none;
   //    stroke: var(--nude-8);
   //    stroke-miterlimit: 10;
   //    stroke-width: 1;
   // }

   // .logo-google {
   //    scale: .9;
   //    transform-origin: center;
   // }
}
