@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-1: #1c2c44;
  --blue-2: #223552;
  --blue-3: #273e60;
  --blue-4: #2d476e;
  --blue-5: #33507c;
  --blue-6: #395989;
  --gold-1: #CCB780;
  --gold-2: #908057;
  --gold-3: #857650;
  --nude-1: #c0b5a3;
  --nude-2: #c8beaf;
  --nude-3: #d0c8ba;
  --nude-4: #d8d1c6;
  --nude-5: #e0dad2;
  --nude-6: #e8e4dd;
  --nude-7: #f0ede9;
  --nude-8: #f8f7f4;
  --white: #ffffff;
  --blue-1-rgb: 28, 44, 68;
  --blue-2-rgb: 34, 53, 82;
  --blue-3-rgb: 39, 62, 96;
  --blue-4-rgb: 45, 71, 110;
  --blue-5-rgb: 51, 80, 124;
  --blue-6-rgb: 57, 89, 137;
  --gold-1-rgb: 204, 183, 128;
  --gold-2-rgb: 144, 128, 87;
  --gold-3-rgb: 133, 118, 80;
  --nude-1-rgb: 192, 181, 163;
  --nude-2-rgb: 200, 190, 175;
  --nude-3-rgb: 208, 200, 186;
  --nude-4-rgb: 216, 209, 198;
  --nude-5-rgb: 224, 218, 210;
  --nude-6-rgb: 232, 228, 221;
  --nude-7-rgb: 240, 237, 233;
  --nude-8-rgb: 248, 247, 244;
  --white-rgb: 255, 255, 255;
  --gradient-blue: linear-gradient(150deg, var(--blue-1), var(--blue-4));
  --gradient-gold: linear-gradient(-35deg, var(--nude-3), var(--gold-2), var(--nude-3), var(--gold-2), var(--nude-3));
  --background-gradient: linear-gradient(135deg, var(--gold), var(--nude-6));
  --background-gradient-cards: linear-gradient(180deg, rgba(var(--gold-rgb), 0) 0%, var(--nude-7) 50%);
  --gradient: radial-gradient(117% 90% at 31% 74%, rgba(220, 227, 230, 0.3) -10%, rgba(220, 227, 230, 0.1) 40%, rgba(220, 227, 230, 0) 60%),
    radial-gradient(53% 108% at 60% 121%, rgba(139, 145, 148, 0.8) 0%, rgba(139, 145, 148, 0) 80%),
    radial-gradient(180% 180% at 174% -112%, rgb(139, 145, 148) 0%, rgb(139, 145, 148) 70%, rgba(139, 145, 148, 0) 95%),
    linear-gradient(41deg, rgba(220, 227, 230, 0) 0%, rgba(220, 227, 230, 0) 70%, rgba(220, 227, 230, 0.6) 110%),
    radial-gradient(58% 49% at -8% 55%, rgb(192, 199, 202) 0%, rgba(192, 199, 202, 0) 100%),
    radial-gradient(40% 27% at -4% 13%, rgb(192, 199, 202) 0%, rgba(192, 199, 202, 0) 90%);
  --shadow: 0 16px 8px rgba(160, 156, 151, 0.07),
    0 32px 16px rgba(160, 156, 151, 0.11);
  --dropShadow: drop-shadow(0 2px 1px rgba(160, 156, 151, 0.11)) drop-shadow(0 4px 2px rgba(160, 156, 151, 0.13)) drop-shadow(0 8px 4px rgba(160, 156, 151, 0.15)) drop-shadow(0 16px 8px rgba(160, 156, 151, 0.17)) drop-shadow(0 32px 16px rgba(160, 156, 151, 0.21));
  --text-color: var(--blue-1);
  --text-color-dark: var(--blue-1);
  --link-color-hover: var(--gold);
  --header-height: 4.8125rem;
  --full-width: 100vw;
  --full-height: 100vh;
  --spacing: 2rem;
  --margin: 1.5em;
  --gap: .3rem;
  --border-color-light: rgba(var(--nude-3-rgb), 0.4);
  --border-color-dark: rgba(var(--blue-1-rgb), 0.4);
  --border-blue-light: rgba(var(--blue-6-rgb), 0.4);
  --border-radius: 1;
  --radius-xxl: 2.1rem;
  --radius-xl: 1.8rem;
  --radius-l: 1.5rem;
  --radius-m: 1.2rem;
  --radius-s: 0.9rem;
  --radius-xs: 0.6rem;
  --transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --clip: var(--gap);
  --round: var(--radius-xl);
  --clipPath: inset(var(--clip) round var(--round));
}

@media (max-width: 767px) {
  :root {
    --radius-xxl: 1.9rem;
    --radius-xl: 1.5rem;
    --radius-l: 1.2rem;
    --radius-m: .9rem;
    --radius-s: 0.6rem;
    --radius-xs: 0.3rem;
  }
}

@font-face {
  font-family: 'Canela';
  src: url('~/assets/fonts/canela/Canela-Bold.woff') format('woff'),
       url('~/assets/fonts/canela/Canela-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('~/assets/fonts/canela/Canela-Regular.woff') format('woff'),
       url('~/assets/fonts/canela/Canela-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('~/assets/fonts/canela/Canela-Light.woff') format('woff'),
       url('~/assets/fonts/canela/Canela-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela';
  src: url('~/assets/fonts/canela/Canela-Thin.woff') format('woff'),
       url('~/assets/fonts/canela/Canela-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url("~/assets/fonts/geomanist/hinted-Geomanist-Light.woff2") format("woff2"),
       url("~/assets/fonts/geomanist/hinted-Geomanist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url("~/assets/fonts/geomanist/hinted-Geomanist-Book.woff2") format("woff2"),
       url("~/assets/fonts/geomanist/hinted-Geomanist-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url("~/assets/fonts/geomanist/hinted-Geomanist-Bold.woff2") format("woff2"),
       url("~/assets/fonts/geomanist/hinted-Geomanist-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geomanist';
  src: url("~/assets/fonts/geomanist/hinted-Geomanist-Black.woff2") format("woff2"),
       url("~/assets/fonts/geomanist/hinted-Geomanist-Black.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@layer base {
    *,
    *::before,
    *::after {
        @apply box-border m-0 relative;
    }

    .font-geomanist {
        font-family: Geomanist;
    }

    .font-canela {
        font-family: Canela, serif;
    }

    body {
        @apply font-geomanist font-light text-clamp-base lg:text-clamp-sm text-blue-1 antialiased overflow-x-hidden;
    }
    
    p {
        @apply mb-6 text-clamp-base lg:text-clamp-sm font-geomanist font-thin;
    }
    li {
        @apply mb-0 text-clamp-base lg:text-clamp-sm font-geomanist font-thin;
    }
    h1, .h1 {
        @apply mb-6 text-clamp-6xl font-thin font-canela leading-tight;
    }
    h2, .h2 {
        @apply mb-6 text-clamp-5xl font-thin font-canela leading-tight;
    }
    h3, .h3 {
        @apply mb-6 text-clamp-4xl font-thin font-canela leading-tight;
    }
    h4, .h4 {
        @apply mb-6 text-clamp-3xl font-thin font-canela leading-tight;
    }
    h5, .h5 {
        @apply mb-6 text-clamp-2xl font-thin font-canela leading-tight;
    }
    h6, .h6 {
        @apply mb-6 text-clamp-xl font-thin font-canela leading-tight;
    }

    u {
        @apply no-underline border-b-[1px] border-b-nude-8/50
    }

}

@layer components {

    .site-main {
        @apply bg-nude-8 overflow-hidden w-[100vw];
    }
    
    .panel#cuidados {
        @apply mb-0;
    }
    
    .panel#paciente_ideal {
        @apply items-center gap-y-8;
    }
    
    .tabla {
        @apply py-40; 

        .panel__content {
            @apply col-[2/-2] lg:col-[4/14] row-start-1 w-full text-center;
        }
    }
    
    .related__posts h3 > div {
        @apply text-center !important;
        @apply pb-12 font-semibold font-[Geomanist] uppercase;
    }
    
    #procedimiento {
        @apply items-center gap-y-8;
        
        .panel__content {
            @apply col-[2_/_span_14] xl:col-[2_/_span_6] row-start-2 xl:row-start-1;
        }
        .panel__image {
            @apply col-[2_/_span_14] xl:col-[9_/_span_7] ;
        }
    }
    
    .landing-main .antesdespues {
        @apply p-8 xl:p-24;
    }
    
    .answer__columnas {
        .columna1 {
            @apply row-start-1 col-[1_/_-1] xl:col-span-5;
        }
        .columna2 {
            @apply row-start-3 xl:row-start-1 col-[1_/_-1] xl:col-[12_/_17] xl:-left-20;
        }
    }

    .answer__content ul li {
        @apply ml-6;
    }
    
    .video__player {
        .plyr {
            @apply rounded-2xl;
        }
    }

    .vHorizontal {
        .panel__image {
            @apply aspect-video col-[2/-2] lg:col-[2/11]
        }

        .panel__content {
            @apply col-[2/-2] lg:col-[12/-2]
        }
    }
    
    .panel__image:has(.video__player) {
        @apply col-[2/-2] lg:col-[2_/_span_7] rounded-none;
    }
    
    .skill {
        h3 {
            @apply !font-semibold !text-lg mb-1 leading-6;
        }
    }
    
    .nuestras-clinicas .clinicas__egos-card:nth-child(even) .clinicas__egos-map {
        @apply xl:col-[11/-2];
    }
    
    .team__form .form-landing {
        @apply max-w-full h-screen md:h-auto w-[max(360px,40vw)] bg-blue-1 p-8 rounded-2xl border-nude-1/20 top-0 flex justify-center items-center;
    }

    .form-after {
        @apply after:content-[''] after:border after:border-solid after:border-nude-8/[0.1] after:bg-nude-8/[0.025] after:absolute after:-top-6 after:-left-6 after:rounded-2xl after:w-[calc(100%+3rem)] after:h-[calc(100%+3rem)] after:pointer-events-none;
    }

    .swiperColumn {
        .swiper-slide {
            @apply h-auto box-border;
        }
    }
}

@layer utilities {
    #orden-1 { @apply row-start-2; }
    #orden-2 { @apply row-start-3; }
    #orden-3 { @apply row-start-4; }
    #orden-4 { @apply row-start-5; }
    #orden-5 { @apply row-start-6; }
    #orden-6 { @apply row-start-7; }
    #orden-7 { @apply row-start-8; }
    #orden-8 { @apply row-start-9; }
    #orden-9 { @apply row-start-10; }
    #orden-10 { @apply row-start-11; }

    .before-gradient {
        @apply before:content-[''] before:size-full before:absolute before:left-0 before:top-0 before:opacity-80 before:mix-blend-multiply before:bg-gradient-to-b from-transparent from-[10%] to-blue-1;
    }

    .span-gradient {
        @apply text-clamp-6xl bg-[length:80%] xl:bg-[length:30%] font-semibold block bg-clip-text text-transparent bg-gold-gradient-text leading-tight;
    }

    .blue-gradient-full {
        @apply before:absolute before:inset-0 before:bg-gradient-to-b before:from-blue-1 before:via-blue-1/0 before:to-blue-1 before:bg-opacity-25 before:mix-blend-multiply
    }
    
    .overlay-blue {
        @apply before:absolute before:inset-0 before:bg-blue-1 before:bg-opacity-75 before:mix-blend-multiply
    }

    .separador-lista {
        @apply after:bg-current after:content-[''] after:absolute after:bottom-0 after:left-0 after:w-full after:h-[1px] after:opacity-25 first:before:bg-current first:before:content-[''] first:before:absolute first:before:top-0 first:before:left-0  first:before:w-full first:before:h-[1px] first:before:opacity-25;
    }
}
