main.contact {
    background-size: cover;

    &::before {
        content: "";
        width: var(--full-width);
        height: var(--full-height);
        position: absolute;
    }
}

section.contact {
    @include flex(row, center, center, nowrap, 4);
}

.flare {
    --size: 40vw;
    width: var(--size);
    height: var(--size);
    position: fixed;
    background: var(--blue-6);
    border-radius: 50%;
    filter: blur(calc(var(--size) * 0.28));
    z-index: -1;
    margin: calc(-0.5*var(--size)) 0 0 calc(-0.5*var(--size));
}
