section.cirugia {
   .tratamiento__content {
      .panel {

         &.tabla {

            .panel__image {
               grid-column: 11/-1;
               grid-row: 1;
               width: 100%;
            }

            .panel__content {
               grid-column: 4/14 !important;
               grid-row: 1;
               width: 100%;
               text-align: center;

               @media (max-width: 767px) {
                  grid-column: 2/-2;
               }
            }

            .tabla_wrapper {
               grid-column: 2/-2;

               .answer__tabla {
                  display: grid;
                  gap: 2rem;
                  grid-template-columns: 170px 1fr 1fr 1fr;

                  @media (max-width: 767px) {
                     grid-template-columns: 1fr;

                     .row0 {
                        display: none;
                     }
                  }

                  /* .image_container {
                     align-items: center;
                     display: flex;
                     flex-direction: column;
                     overflow: hidden;
                     // aspect-ratio: 4/5;
                     min-height: 300px;
                     width: 100%;

                     img {
                        max-width: 250px;
                     }

                     h4 {
                        font-size: calc(var(--font-size) * 1.05);
                     }

                     p {
                        font-size: calc(var(--font-size) * .85);
                     }
                  } */

               }

            }

         }

         &.columnas {
            padding-bottom: 0;
         }

         &__image {
            img {
               height: 100%;
               object-fit: cover;
               object-position: center;
               width: 100%;
            }
         }

         .answer__columnas {
           
            figure.panel__image {
               grid-column: 6/12 !important;
               grid-row: 1;
               padding: 0 4rem;
               aspect-ratio: 2/3;

               @media (max-width: 767px) {
                  grid-column: 2/-2 !important;
                  grid-row: 2 !important;
                  padding: 0;
                  aspect-ratio: 2/2;
                  height: 100%;
               }

               img {
                  border-radius: var(--radius-m);
               }
            }
         }

         &.vHorizontal {
            .panel__image {
               aspect-ratio: 16/9;
               grid-column: 2/11;

               @media (max-width: 767px) {
                  grid-column: 2/-2;
               }
            }

            .panel__content {
               grid-column: 12/-2 !important;

               @media (max-width: 767px) {
                  grid-column: 2/-2 !important;
               }
            }
         }
      }

   }

   .answer {
      &__content {
         

         ul {
            li {
               margin-left: 1.5rem;
            }
         }
      }
   }

}
