/* .related {
   display: grid;
   grid-template-columns: repeat(24, 1fr);
   margin-bottom: 0;
   padding-bottom: calc(var(--header-height) + var(--spacing));
   z-index: 1;

   &-wrapper {
      grid-column: 2/-2;
   }

   &__list {
      background: var(--nude-7);
      border-top-left-radius: var(--radius-xl);
      border-top-right-radius: var(--radius-xl);
      margin-top: calc(-1 * var(--radius-xl));
      padding: 2rem;

      &:nth-child(2) {
         background: var(--nude-6);
      }

      &:nth-child(3) {
         background: var(--nude-5);
      }

      &:nth-child(4) {
         background: var(--nude-4);
      }

      &:nth-child(5) {
         background: var(--nude-3);
      }

      &:nth-child(6) {
         background: var(--nude-2);
      }

      &:nth-child(7) {
         background: var(--nude-1);
      }

      &:last-child {
         border-radius: var(--radius-xl);
      }

      &-item {
         @include flex(row, flex-start, center);

         a {
            padding: 1rem;
            width: 100%;

            .related__list-title {
               @include flex(row, space-between, stretch);
            }

            h3 {
               font-family: var(--font-family-base);
               font-weight: 300;
               margin-bottom: 0;
               position: relative;
               width: fit-content;

               &::before {
                  background-color: currentColor;
                  bottom: 0;
                  content: "";
                  height: 1px;
                  max-width: 0;
                  position: absolute;
                  transition: max-width var(--transition);
                  width: 100%;
               }
            }

            .icon-chevron {
               @include flex(row, center, center);
               align-self: end;
               background: var(--nude-3);
               border-radius: 50%;
               height: 2.5em;
               overflow: hidden;
               position: relative;
               top: -0.6rem;
               transform: rotate(-45deg);
               width: 2.5em;

               i {
                  @include flex(row, center, center);
                  position: relative;
                  transform: translateX(0%) rotate(0.001deg);
                  transition: transform 0.4s cubic-bezier(.75, 0, .25, 1);
                  width: 1.25em;
               }

               i.copy {
                  position: absolute;
                  transform: translateX(-150%) rotate(0.001deg);
               }
            }

            &:hover {
               color: var(--text-color);
               padding-bottom: calc(var(--spacing) * 2);

               h3::before {
                  max-width: 100%;
               }

               .icon-chevron {
                  background-color: #fff;

                  i {
                     transform: translateX(200%) rotate(0.001deg);
                  }

                  i.copy {
                     transform: translateX(0%) rotate(0.001deg);
                  }
               }
            }
         }

      }
   }

   .mask-reveal {
      background: var(--nude-6);
      opacity: .6;
   }
} */
