.surgeries-master {
   padding-top: var(--gap);

   .page-content {
      @include grid(16, var(--gap));
      align-content: center;
      align-items: center;
      height: 80vh;

      .page-title {
         grid-column: 2/16;
         position: absolute;
         width: 100vw;
         top: 20%;
      }

      h1 {
         // font-family: $font-base;
         font-size: clamp(1.6rem, 2vw, 2.3rem);
         margin-bottom: 0;
      }

      h2 {
         font-size: clamp(3.4rem, 4.7vw, 4.6rem);
      }
   }

   figure.media {
      grid-column: 8/17;
      z-index: -1;
      border-radius: var(--radius-xl);
      overflow: hidden;
      height: calc(60vh - (var(--gap) * 2));
      position: absolute;
      right: 0;
      translate: 0 40%;

      img {
         object-fit: cover;
         object-position: center;
         height: 100%;
      }
   }

   .column {
      @include grid(16, var(--gap));
      top: 0vh;

      .destacado {
         grid-column: 2/7;
         font-weight: 400;
      }

   }
}

.quote {

   .content__header-title {
      font-size: 2.5vw;
      
      strong,
      b {
         color: var(--gold-2);
      }
   }

   .content__header {
      @media (max-width: 767px) {
         p {
            font-size: calc(var(--font-size) * 1.75);
         }
      }
   }
}
